@media only screen and (min-width: 1024px) {

    .sidebar {
        width: 180px;
        height: 100vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 1px solid #ccc;
    }

    .sidebartop,
    .sidebarcenter,
    .sidebarbottom {
        display: flex;
        align-items: center;
        width: 80%;
        border-bottom: 1px solid #ccc;
        padding: 10px 0;
        margin-bottom: 10px;
    }

    .sidebartop {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .sidebarcenter {
        padding: 0;
    }

    .sidebarbottom {
        justify-content: center;
    }

    .logoimg {
        width: 80px;
        height: auto;
    }

    .sidelinks {
        list-style: none;
        padding: 0;
        width: 100%;
    }

    .sideli {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        font-weight: 500;
        cursor: pointer;
        padding: 10px;
        border-radius: 10px;
    }

    .linkgroup {
        display: flex;
        flex-direction: row;
        line-height: 14px;
        width: 80%;
        margin: 0 auto;
        align-items: center;
        justify-content: flex-start;
    }

    .sideliicon {
        font-size: 24px;
        margin-right: 10px;
    }

    .sidelilabel {
        font-size: 10px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .sideli.active,
    .sideli:hover {
        background-color: #f08a3e;
        //background-color: #181b3c;
        color: white;
    }

    .mobilemenuicon {
        display: none;
    }

}

/*
@media only screen and (max-width: 1024px) {

    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80px;
        height: 100%;
        background-color: white;
        border-right: 1px solid #ccc;
    }

    .sidebartop,
    .sidebarcenter,
    .sidebarbottom {
        display: flex;
        align-items: center;
        width: 80%;
        border-bottom: 1px solid #ccc;
    }

    .sidebartop {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .logoimg {
        display: none;
    }

    .sidebartop {
        padding: 10px;
    }

    .logoimg {
        width: 80px;
        height: auto;
    }

    .sidelinks {
        list-style: none;
        padding: 10px;
        width: 100%;
    }

    .sideli {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        font-weight: 500;
        cursor: pointer;
        padding: 10px;
        border-radius: 10px;
    }

    .linkgroup {
        display: flex;
        flex-direction: column;
        line-height: 14px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .sideliicon {
        font-size: 24px;
        margin-right: 0px;
    }

    .sidelilabel {
        font-size: 12px;
    }

    .sideli.active,
    .sideli:hover {
        background-color: #181b3c;
        color: white;
    }

    .mobilemenuicon {
        display: none;
    }

    .mobilemenuicon {
        display: flex;
        color: #f08a3e;
        background: white;
    }

    .mobilemenuicontimes,
    .mobilemenuiconbars {
        font-size: 30px;
    }

}
*/

@media only screen and (max-width: 1024px) {

    .sidebar {
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        background-color: white;
        border-top: 1px solid #ccc;
    }

    .sidebartop,
    .sidebarbottom {
        display: none;
    }

    .sidebarcenter {
        width: 100%;
        border-bottom: 0px solid #ccc;
        padding: 0px 0;
        margin-bottom: 0px;
    }

    .sidelinks {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
        padding: 0;
        width: 100%;
    }


    .sideli {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
        font-weight: 500;
        cursor: pointer;
        padding: 10px;
        border-radius: 10px;
    }

    .linkgroup {
        display: flex;
        flex-direction: column;
        line-height: 14px;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: flex-start;
    }

    .sideliicon {
        font-size: 24px;
        margin-right: 0px;
    }

    .sidelilabel {
        font-size: 10px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .mobilemenuicon {
        display: flex;
        color: #f08a3e;
        background: white;
    }

    .mobilemenuicontimes,
    .mobilemenuiconbars {
        font-size: 30px;
    }

}
