.askcard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: flex-start;
    color: #191B3C;
    padding: 10px 10px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.askcardtitle {
    font-size: 20px;
    font-weight: bold;
}

.askcardtitlecard {
    color: #FF570D;
}

.askcardtitlename {
    font-size: 2.5rem;
    font-weight: bold;
}

.askcardtext {
    margin-top: 10px;
    font-size: 1.5rem;
    text-align: justify;
    margin: 20px 0px 20px 0px;
}

.askcardtextcheck {
    margin-left: 10px;
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #191B3C;
}

.containercheckbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.askcardinput {
    border-radius: 5px;
    border: 1px solid #D8DFE2;
    background-color: white;
    padding: 7px;
    width: 100%;
    height: auto;
    color: #B5B5B5;
    margin: 10px 0px 10px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.checkbox {
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #D8DFE2;
}

.askcardbtn {
    background-color: #FF570D;
    color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    margin: 20px 0px 20px 0px;
    transition: all 400ms ease;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

.askcardbtn a {
    color: white;
}

.askcardbtn:hover {
    cursor:pointer;
    background: #d4752d;
}

.groupbtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    gap: 5%;
}

.contactbtnsend {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    text-align: center;
    background: #FF570D;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.contactbtnsend:hover {
    cursor: pointer;
    background: #dd4504;
}

.contactbtnwhatsapp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    background: #191B3C;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.contactbtnwhatsapp:hover {
    background: #141635;
}

.btnicon {
    margin-right: 10px;
}

@media screen and (max-width: 768px) {

    .groupbtn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100px;
        gap: 5%;
    }

    .containercheckbox {
        margin: 20px 0px;
    }
    
    .askcard {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .askcardbanner {
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin: 10px 0px 0px 0px;
    }

    .askcardtitle {
        font-size: 2rem;
    }

    .askcardtext {
        font-size: 1rem;
    }

    .askcardinput,
    .askcardbtn,
    .askcardtext {
        margin: 10px 0px 10px 0px;
    }

    .askcardprice {
        font-size: 3rem;
    }

    .askcardtitlename {
        font-size: 2rem;
        font-weight: bold;
    }
    
}