@media screen and (min-width: 1024px) {

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        align-items: flex-end;
        justify-content: flex-start;
        background-color: #f7f5fa;
        overflow-y: scroll;
        padding: 0;
        margin: 0;
    }
    
}

@media screen and (max-width: 1024px) {

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
        background-color: #f7f5fa;
        margin-bottom: 50px;
    }

}