.logoimg {
  width: 130px;
  height: auto;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 90px;
  background: #e3ebee;
  align-items: center;
  z-index: 200;
}

.container {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.loginbanner {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 10px 0px 0px 0px;
}

.navlinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  width: 100%;
}

.navlilogo {
  cursor: pointer;
  color: black;
  font-size: 20px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: all 0.5s ease-in-out;
}

.navli {
  padding-left: 40px;
  cursor: pointer;
  color: black;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: all 0.5s ease-in-out;
  font-weight: bold;
}

.navli .navlibtn {
  font-size: 16px;
  gap: 0.3rem;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  width: 100%;
  transition: all 400ms ease;
  background: #FF570D;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.navlibtn:hover {
  background: #d4752d;
  /*box-shadow: 0 1rem 1.6rem rgba(12, 3, 27, 0.15);*/
}

.mobilemenuicon {
  display: none;
}

.ctlogoadm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: auto;
}

/*
  MARCARÇÕES
  425 - 768 - 1024
  Se tiver links demais na navbar colocar o proximo acima.
*/
@media screen and (max-width: 1300px) {
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0;
  }

  .navlinks {
    display: none;
  }

  .navlinksmobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color: #191B3C;
    left: 0;
    top: 90px;
    transition: all 0.5s ease-out;
    width: 100%;
    height: auto;
    text-align: center;
    opacity: 0;
    animation: fadeNavItem 700ms ease forwards;
  }

  @keyframes fadeNavItem {
    100% {
      opacity: 1;
    }
  }

  .navlinksmobile li {
    color: black;
    font-size: 1rem;
    width: 100%;
    background-color: #f7f5fa;
    border-bottom: 1px solid #f0bb93;
    border-radius: 0;
    font-size: 1.2rem;
    text-align: center;
    padding: 32px;
    margin: 0;
  }

  .navlinksmobile li .navlibtn {
    border-radius: 0px;
    background-color: #f7f5fa;
    color: black;
    font-size: 1.2rem;
  }

  .navlinksmobile .navlibtn:hover {
    background: #f7f5fa;
    /*box-shadow: 0 1rem 1.6rem rgba(12, 3, 27, 0.15);*/
  }


  .mobilemenuicon {
    display: block;
    position: absolute;
    color: #f08a3e;
    background: #e3ebee;
    outline: none;
    top: 30px;
    right: 25px;
  }

  .mobilemenuicontimes,
  .mobilemenuiconbars {
    font-size: 30px;
  }

  .navli .navlibtn {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  

}