.maincontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1440px;
    background-color: #f7f5fa;
    padding: 0;
}

.ct1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background-color: red;
}

.ct2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin-top: 90px;
    background-color: white;
    
}


@media screen and (max-width: 768px) {

    .maincontainer {
        border: 0;
    }

}