.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 90vh;
    align-items: center;
    justify-content: flex-start;
    background-color: #f7f5fa;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
}

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    background-color: rgb(255, 87, 13, 0.9);
    color: white;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.containercards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    margin: 10px 0;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    gap: 5%;
    padding: 10px;
    margin: 10px;
}

.cardpayments {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.btpayments {
    font-size: 17px;
    background-color: #d3d3df;
    color: black;
    padding: 10px 22px;
    font-weight: bold;
    border-radius: 10px;
}

.iconstatus {
    width: 20px;
    height: 20px;
    color: green;
}

.iconconfirmed {
    width: 20px;
    height: 20px;
    color: green;
}

.iconreceived {
    width: 20px;
    height: 20px;
    color: green;
}

.iconpending {
    width: 20px;
    height: 20px;
    color: orange;
}

.iconoverdue {
    width: 20px;
    height: 20px;
    color: red;
}


.cardt {
    display: flex;
    flex-direction: row;
    width: auto;
    min-width: 600px;
    height: 100%;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.cardphoto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}

.imgphoto {
    width: 200px;
    height: 200px;
}

.cardtitular {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cardtitulartitle {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.cardtitularinfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 20px;
}

.formlabel {
    font-weight: bold;
    padding-bottom: 10px;
    padding-right: 10px;
}

.cardtitulargrouplabel {
    display: flex;
    flex-direction: row;
}

.formlabel {
    display: block;
    font-weight: bold;
}

.formlabelvalue {
    padding-bottom: 10px;
}